<!-- <div class="container formulario d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-lg-4"> -->
<section class="register-page">
    <nz-row nzJustify="center" class="formulario" nzAlign="middle">
        <nz-col nzSpan="20">
            <form nz-form nzLayout="vertical" [formGroup]="registerForm">
            <nz-row class="titulo-descripcion">
                <nz-col nzSpan="10">
                    <h2 class="titulo text-center">Regí<span class="color">strate</span></h2>
                </nz-col>
                <nz-col nzSpan="14">
                    <p class="textoRegistro text-center">¿Ya tienes cuenta? <a [routerLink]="['/sign-in']"
                            class="color">Entra</a></p>
                </nz-col>
            </nz-row>

            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor introduce tu nombres y apellidos." [nzSpan]="24">
                    <nz-input-wrapper class="wrap-user">
                        <nz-icon  class="icon-signup" nzInputPrefix nzType="user" />
                        <input class="input-sign" nz-input formControlName="nombre" placeholder="Nombre" />
                    </nz-input-wrapper>
                    <nz-input-wrapper class="wrap-apellidos">
                        <nz-icon  class="icon-signup" nzInputPrefix nzType="user" />
                        <input class="input-sign" nz-input formControlName="apellidos" placeholder="Apellidos" />
                    </nz-input-wrapper>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control [nzSpan]="24">
                    <nz-input-wrapper class="wrap-email">
                        <nz-icon class="icon-signup" nzInputPrefix nzType="mail" nzTheme="outline" />
                        <input class="input-sign" nz-input formControlName="correo" type="text" placeholder="Correo Electrónico" required>
                    </nz-input-wrapper>
                    @if (registerForm.get('correo')?.hasError('required') && registerForm.get('correo')?.touched) {
                    <div style="color:red; margin-top:5px;">
                        El correo es obligatorio
                    </div>
                    }
                    @if (registerForm.get('correo')?.hasError('email') && registerForm.get('correo')?.touched) {
                    <div style="color:red; margin-top:5px;">
                        El correo no tiene un formato válido
                    </div>
                    }
                    @if (registerForm.get('correo')?.hasError('correoDuplicado') && registerForm.get('correo')?.touched) {
                    <div style="color:red; margin-top:5px;">
                        Este correo ya está en uso
                    </div>
                    }
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <!-- <nz-form-control
                    nzErrorTip="Debe tener al menos una letra minuscula, mayuscula, un numero y un caracter especial y 8 carateres"
                    [nzSpan]="24"> -->
                <nz-form-control [nzSpan]="24">
                    <nz-input-password class="wrap-password">
                        <nz-icon class="icon-signup" nzInputPrefix nzType="lock" nzTheme="outline" />
                        <input class="input-sign" nz-input formControlName="contrasena" type="password" placeholder="Contraseña" required>
                    </nz-input-password>
                    @if (registerForm.get('contrasena')?.hasError('required') && registerForm.get('contrasena')?.touched) {
                    <div style="color:red; margin-top:5px;">
                        La contraseña es obligatoria
                    </div>
                    }
                </nz-form-control>
                <!-- <nz-form-control [nzErrorTip]="passwordError" [nzSpan]="24"> -->
                <nz-form-control [nzSpan]="24">
                    <nz-input-password class="wrap-verifyPassword">
                        <nz-icon class="icon-signup" nzInputPrefix nzType="lock" />
                        <input class="input-sign" nz-input formControlName="verifyPassword" type="password"
                            placeholder="Repite la contraseña">
                    </nz-input-password>
                    <!-- @if (!esIgual && (registerForm.get('verifyPassword')?.touched ||
                    registerForm.get('password')?.touched)) {
                    <div style="color: red;">Las contraseñas no coinciden</div>
                    } -->

                </nz-form-control>
                @if (registerForm.get('contrasena')?.hasError('pattern') && registerForm.get('contrasena')?.dirty) {

                <div style="color:red; margin-top:5px;">
                    Debe tener al menos una minúscula, una mayúscula, un número, un carácter especial y mínimo 8
                    caracteres
                </div>

                }
                @else if (registerForm.hasError('noIguales') && registerForm.get('verifyPassword')?.dirty) {

                <div style="color:red; margin-top:5px;">
                    Las contraseñas no coinciden
                </div>

                }
                <!-- <ng-template #passwordError let-control>
                    @if (registerForm.hasError('noIguales')) {
                    <p>Las contraseñas no coinciden</p>
                    }
                </ng-template> -->
            </nz-form-item>

                <button nz-button class="btn-success btn-registrarse" (click)="registrarUsuario()" [disabled]="registerForm.invalid || registerForm.pending">Registrarse</button>

            </form>
        </nz-col>
    </nz-row>
</section>
