<nz-modal
    [nzVisible]="visible"
    [nzMaskClosable]="true"
    [nzClosable]="false"
    [nzCentered]="true"
    [nzWidth]="520"
    nzClassName="delete-task-modal"
    (nzOnCancel)="cancelar()"
    [nzFooter]="deleteFooter">
    <ng-container *nzModalContent>
        <div class="delete-hero">
            <div class="danger-icon-wrap" aria-hidden="true">
                <nz-icon nzType="warning" nzTheme="fill"></nz-icon>
            </div>
            <h3 class="delete-title">Eliminar tarea</h3>
            <p class="delete-text">
                Esta accion no se puede deshacer.
                @if (tarea) {
                <span class="task-name">{{ tarea.titulo }}</span>
                }
                sera eliminada de tu lista.
            </p>
        </div>
    </ng-container>

    <ng-template #deleteFooter>
        <button nz-button nzType="default" type="button" class="btn-cancel" (click)="cancelar()">
            Cancelar
        </button>
        <button nz-button nzType="primary" type="button" class="btn-confirm-delete" (click)="confirmar()">
            Si, eliminar
        </button>
    </ng-template>
</nz-modal>
